# Software Design
/Software_integration/software_design/frontend/   @Hybrid-Ai-Assistance/frontend-team
/Software_integration/software_design/backend/    @Hybrid-Ai-Assistance/backend-team
/Software_integration/software_design/            @Hybrid-Ai-Assistance/FullStack-Team

# Linux & AI
/Software_integration/linux_and_ai_design/        @Hybrid-Ai-Assistance/linux_Ai_Integrators
/Software_integration/linux_and_ai_design/ai_module/   @Hybrid-Ai-Assistance/ai-team
/Software_integration/linux_and_ai_design/linux_module/  @Hybrid-Ai-Assistance/linux-team

# Web
/web_platform/    @Hybrid-Ai-Assistance/web-team

# Docs
/docs/   @Hybrid-Ai-Assistance/docs-team

