     * {
           margin: 0%;
           padding: 0%;
           box-sizing: border-box;
           font-family: SF PRO DISPLAY;
   
     }

     html,
     body {
           height: 100%;
           width: 100%;
     }
     #cursor {
      height: 25px;
      width: 25px;
      background-color: rgb(0, 0, 0);
      border-radius: 50%;
      z-index: 99;
      position: fixed;
}

#cursorblur {
      height: 250px;
      width: 250px;
   
      border-radius: 50%;
      z-index: 99;
      position: fixed;
      filter: blur(50px);
}

     #main {
           position: relative;
           overflow: hidden;
           
     }

      #page {
           position: relative;
           height: 100vh;
           width: 100vw;
           background-color: #000;
           background-image: url(images\ \(1\).jpeg.png);

     } 
     #pagef{
      min-height: 100vh;
      width: 100%;
      z-index: 10;
}
     #page1{
    position: relative;
    /* background-image: url(images\ \(1\).jpeg.png); */
    height: 100vh;
    width: 100vw;
   
    
}
#page1>video{
   
    
    
    position: relative;
    bottom:20%;
  
  
    
    
}
#page1-bottom{
      

}
#page1-bottom>h3{
    color: #a5121293;
    margin-bottom: 1vw;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

     #nav {
           top: 5%;
          
           position: relative;
           display: flex;
          
           height: 70px;
           width: 100%;

           background-color: rgb(0, 0, 0);
           align-items: center;
           padding: 02% 20%;

     }

     #nav {
           display: flex;
           justify-content: space-between;
           align-items: center;
           gap: 40px;
     }

     h1 {
           font-size: larger;
           font-style: normal;
           font-weight: bolder;
           color: rgb(255, 253, 253);

     }

     #right {
           top: 25%;
           left: 37%;
           position: absolute;
           width: 400px;
           height: 400px;
           
     }
     




     .part {
           position: absolute;
           width: 100%;
           height: 100%;
           opacity: 0;
           animation-fill-mode: forwards;
     }

     /* Animations for each part */
     .part1 {
           animation: dropIn 1s ease forwards;
     }

     .part2 {
           animation: slideInLeft 1s ease forwards 0.3s;
     }

     .part3 {
           animation: slideInRight 1s ease forwards 0.6s;
     }

     .part4 {
           animation: riseUp 1s ease forwards 0.9s;
     }

     .part5 {
           animation: dropIn 1s ease forwards 1.2s;
     }

     .part6 {
           animation: slideInLeft 1s ease forwards 1.5s;
     }

     .part7 {
           animation: slideInRight 1s ease forwards 1.8s;
     }

     .part8 {
           animation: riseUp 1s ease forwards 2.1s;
     }

     .part9 {
           animation: riseUp 0ms ease forwards 2.1s;
     }


     /* Keyframes */
     @keyframes dropIn {
           from {
                 transform: translateY(-300px) scale(0.5);
                 opacity: 0;
           }

           to {
                 transform: translateY(0) scale(1);
                 opacity: 1;
           }
     }

     @keyframes slideInLeft {
           from {
                 transform: translateX(-400px) rotate(-45deg);
                 opacity: 0;
           }

           to {
                 transform: translateX(0) rotate(0);
                 opacity: 1;
           }
     }

     @keyframes slideInRight {
           from {
                 transform: translateX(400px) rotate(45deg);
                 opacity: 0;
           }

           to {
                 transform: translateX(0) rotate(0);
                 opacity: 1;
           }
     }

     @keyframes riseUp {
           from {
                 transform: translateY(300px) scale(0.5);
                 opacity: 0;
           }

           to {
                 transform: translateY(0) scale(1);
                 opacity: 1;
           }
     }

     .getstart {
           color: rgb(175, 184, 184);
           font-size: larger;
           font-weight: bolder;
           font-style: italic;
           text-transform: uppercase;
           text-align: center;
           text-shadow: 2ch;

           position: absolute;
           top: 98%;
           left: 40%;
     }
     
#pagem {
      height: 100vh;
      width: 100%;
      background-image: url(images\ \(1\).jpeg.png);
      /*background-color: rgb(75, 77, 77);*/
      position: relative;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: 10;
}
#pagem h1 {
      font-size: 80px;
      font-weight: 900;
      font-style: italic;
      
      position: relative;
         
}

#pagem h1::before {
      content: "Hybrid AI-Assisted Page Replacement";
      position: absolute;
      color: #ffffff;
      top: -6px;
      left: -6px;
      z-index: -1;

      -webkit-text-stroke: 2px rgb(75, 75, 77);

}
#scroller {
      /*background-color: crimson;*/
      white-space: nowrap;

      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      z-index: 10;

}

#scroller h4:hover {
      color: #b6e92a;
}

#scroller ::-webkit-scrollbar {
      display: none;
}

#scroller1 {
      display: inline-block;
      white-space: nowrap;
      animation-name: scroll;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

}



#scroller h4 {
      display: inline-block;
      font-size: 140px;
      font-weight: 800;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      -webkit-text-stroke: 2px #b6e92a;
      color: transparent;
      margin-right: 10px;
      transition: all linear 0.5s;



}

#about-us {
      height: 40vh;
      width: 100%;
      padding: 0 50px;
      align-items: center;
      justify-content: space-around;
      display: flex;
}

#about-us img {
      height: 220px;
      width: 220px;
      border-radius: 20px;
      object-fit: cover;
}

#about-us-in {
      width: 40%;
      text-align: center;
}

#about-us-in p {
      font-size: 20px;
      line-height: 26px;
}

#cards-container {
      /* background-color: red; */
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 70px;
      position: relative;
      z-index: 10;
}

.card {
      height: 80%;
      width: 24%;
      /* background-color: blue; */
      border-radius: 20px;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      transition: all ease 0.6s;
}

#card1{
      background-image: url(WhatsApp\ Image\ 2025-10-13\ at\ 22.04.20_ce3996e1.jpg);
}

#card2 {
      background-image: url(WhatsApp\ Image\ 2025-10-13\ at\ 22.04.22_30905d67.jpg);
}
#card3 {
      background-image: url(WhatsApp\ Image\ 2025-10-13\ at\ 22.04.24_96f688de.jpg);
}

.overlay {
      height: 100%;
      width: 100%;
      background-color: #32332f;
      padding: 30px;
      padding-top: 160px;
      opacity: 0;
      transition: all ease 0.6s;
}

.overlay h4 {
      color: #000;
      font-size: 40px;
      text-transform: uppercase;
      white-space: nowrap;
      margin-bottom: 20px;
      font-weight: 800;
}

.overlay p {
      color: #000;
      font-size: 18px;
}

.card:hover .overlay {
      opacity: 1;
}

.card:hover {
      transform: rotate3d(-1, 1, 0, 20deg);
}



#green-div {
      height: 30vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #2f332e
}

#green-div h4 {
      width: 45%;
      font-size: 23px;
      line-height: 50px;
      text-align: center;
      font-weight: 800;
      text-transform: uppercase;
}

#green-div img {
      height: 100%;
      width: 14%;
      object-fit: cover;


}

#page3 {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-image: url(images\ \(1\).jpeg.png);
      color: #fff;
}

#page3>h4 {
      font-size: 25px;
      font-weight: 650;
      width: 40%;

      line-height: 45px;

}

#page3 img {
      height: 60px;
      position: absolute;
}

#page3 #colon1 {
      left: 15%;
      top: 25%;
}

#page3 #colon2 {
      right: 15%;
      bottom: 30%;
}

#page4 {
      height: 50vh;
      width: 100%;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 70px;
      position: relative;
}

#elem {
      height: 70%;
      width: 20%;
      overflow: hidden;
      position: relative;

}

#elem img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      scale: 0;
}

#elem:hover h2 {
      color: #fff;
      background: transparent;

}

#elem:hover img {
      scale: 1
}
#elem h2 {
      height: 100%;
      width: 100%;
      background-color: #53a222;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      color: #000;
      font-size: 40px;
      position: absolute;
      z-index: 10;
}

#page4 h1 {
      font-size: 100px;
      position: absolute;
      top: -15%;
      font-weight: 900;
      color: #000;
      -webkit-text-stroke: 2px white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#footer {
      height: 40vh;
      width: 100%;
      background: linear-gradient(to left bottom, #0a0a0a 0%, #938b8b 80%);
      background-image: url(images\ \(1\).jpeg.png);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6.5vw;
      padding: 0 100px;
    }
    #footer > img {
      position: absolute;
      left: 0;
      height: 100%;
      z-index: 0;
    }
    #f1 img {
      height: 100px;
    }
    #f1,
    #f2,
    #f3,
    #f4 {
      width: fit-content;
      position: relative;
      z-index: 99;
      /* background-color: red; */
    }
    #f2 h3 {
      font-size: 1.6vw;
      white-space: nowrap;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 900;
      margin-bottom: 8px;
    }
    
    #f3 h3 {
      font-size: 1.6vw;
      white-space: nowrap;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 800;
      margin-bottom: 8px;
    }
    #f4 h4 {
      font-size: 1vw;
      white-space: nowrap;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 8px;
    }


@keyframes scroll {
      from {
            transform: translateX(0);
      }

      to {
            transform: translateX(-100%);
      }

}